body {   
    width: 100%;
    height: auto;
  }

  .ferrodeal-color {
    height: auto;
    width: 100%;
    background: linear-gradient(180deg, rgba(245,245,245,0.9528186274509804) 10%, rgba(159,160,159,0.8379726890756303) 70%, rgba(255,57,57,0.7231267507002801) 100%);
  }

  .ferrodeal-tc-box {
    width: 9px;
    height: 9px;
    margin-top: 17px;
    background: red;
  }

  .ferrodeal-tc-auth-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }
  
  .ferrodeal-tc-auth-inner {
    width: 1000px;
    margin: auto;
    padding: 20px 25px 25px 25px;
    border-radius: 15px;
    transition: all .3s;
  }

.img-logo{
  margin-top: 10px;
  margin-bottom: 20px;
  background-image: url(./logo.png);
  height: 200px;
  width: 300px;
  background-position: center;
  background-size: cover;
}

  .ferrodeal-tc-heading {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .ferrodeal-tc-heading-1 {
    text-align: left;
    font-size: 25px;
    margin-top: 30px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .ferrodeal-tc-para-1 {
    text-align: left;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  

  .ferrodeal-tc-hr {
    width: 78px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid #101010;
  }
  
  .ferrodeal-tc-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }



  @media only screen and (max-width: 768px) {

    .ferrodeal-tc-auth-inner {
      width: 750px;
      margin: auto;
      padding: 20px 25px 25px 25px;
      border-radius: 15px;
      transition: all .3s;
    }


    .ferrodeal-tc-heading {
      text-align: center;
      font-size: 38px;
      margin-top: 20px;
      font-weight: 500;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .img-logo{
      margin-top: 10px;
      margin-bottom: 20px;
      background-image: url(./logo.png);
      height: 200px;
      width: 300px;
      background-position: center;
      background-size: cover;
    }
    
    .ferrodeal-tc-heading-1 {
      text-align: left;
      font-size: 25px;
      margin-top: 30px;
      font-weight: 500;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
    .ferrodeal-tc-para-1 {
      text-align: left;
      font-size: 20px;
      margin-top: 30px;
      font-weight: 500;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

}

  @media only screen and (max-width: 425px) {

    .ferrodeal-tc-auth-inner {
      width: 425px;
      margin: auto;
      padding: 20px 25px 25px 25px;
      border-radius: 15px;
      transition: all .3s;
    }

    .ferrodeal-tc-heading {
      text-align: center;
      font-size: 30px;
      margin-top: 20px;
      font-weight: 500;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .img-logo{
      margin-top: 10px;
      margin-bottom: 20px;
      background-image: url(./logo.png);
      height: 150px;
      width: 250px;
      background-position: center;
      background-size: cover;
    }
    
      .ferrodeal-tc-heading-1 {
        text-align: left;
        font-size: 22px;
        margin-top: 30px;
        font-weight: 500;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
    
      .ferrodeal-tc-para-1 {
        text-align: left;
        font-size: 15px;
        margin-top: 30px;
        font-weight: 500;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

  }

  @media only screen and (max-width: 375px) {

    .ferrodeal-tc-auth-inner {
      width: 325px;
      margin: auto;
      padding: 20px 25px 25px 25px;
      border-radius: 15px;
      transition: all .3s;
    }

    .ferrodeal-tc-heading {
      text-align: center;
      font-size: 22px;
      margin-top: 20px;
      font-weight: 500;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .img-logo{
      margin-top: 10px;
      margin-bottom: 20px;
      background-image: url(./logo.png);
      height: 100px;
      width: 200px;
      background-position: center;
      background-size: cover;
    }
    
    .ferrodeal-tc-heading-1 {
      text-align: left;
      font-size: 18px;
      margin-top: 30px;
      font-weight: 500;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
    .ferrodeal-tc-para-1 {
      text-align: left;
      font-size: 12px;
      margin-top: 30px;
      font-weight: 500;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

}

  @media only screen and (max-width: 320px) {

    .ferrodeal-tc-auth-inner {
      width: 300px;
      margin: auto;
      padding: 20px 25px 25px 25px;
      border-radius: 15px;
      transition: all .3s;
    }

    .ferrodeal-tc-heading {
      text-align: center;
      font-size: 25px;
      margin-top: 20px;
      font-weight: 500;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .img-logo{
      margin-top: 10px;
      margin-bottom: 20px;
      background-image: url(./logo.png);
      height: 100px;
      width: 200px;
      background-position: center;
      background-size: cover;
    }
    
    .ferrodeal-tc-heading-1 {
      text-align: left;
      font-size: 18px;
      margin-top: 30px;
      font-weight: 500;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
    .ferrodeal-tc-para-1 {
      text-align: left;
      font-size: 13px;
      margin-top: 30px;
      font-weight: 500;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

}
 

  
  
  