
body { 
  width: 100%;
  height: auto;
}

.sign-in-color {
  width: 100%;
  height:auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(180deg, rgba(245,245,245,0.9528186274509804) 10%, rgba(159,160,159,0.8379726890756303) 70%, rgba(255,57,57,0.7231267507002801) 100%);
}

.text-color {
  color: rgba(255,57,57,0.7231267507002801);
  font-size: 24px;
  align-items: center;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signin-auth-inner {
  width: 450px;
  margin: auto;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.form-group {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
 
}
.form-control {
border-radius: 25rem;
}

.custom-control-label {
  border: none;
  background: transparent;
  color: rgba(255,57,57,0.7231267507002801);
  font-size: 15px;
  padding-top: 10px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.forgot-password {
  text-align: center;
  font-size: 15px;
  padding-top: 30px;
  margin: 0;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.forgot-password a {
  color: white;
  text-decoration: none;
}

.signup-at-login {
  text-align: center;
  font-size: 15px;
  padding-top: 10px;
  font-weight: 500;
  color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signup-at-login a {
  color: white;
  text-decoration: none;
}

.button {
  margin-top: 15px;
  border-radius: 25px;
  width: 100%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 400;
background: #FF3939;
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-logo{
  margin-top: 100px;
  margin-bottom: 20px;
  background-image: url(./logo.png);
  height: 150px;
  width: 250px;
  background-position: center;
  background-size: cover;
}  

.login-heading {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media only screen and (max-width: 768px) {

  .login-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .img-logo{
    margin-top: 100px;
    margin-bottom: 20px;
    background-image: url(./logo.png);
    height: 100px;
    width: 200px;
    background-position: center;
    background-size: cover;
  } 

}

@media only screen and (max-width: 320px) {

  .signin-auth-inner {
    width: 275px;
    margin: auto;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }

  .img-logo{
    margin-top: 100px;
    margin-bottom: 20px;
    background-image: url(./logo.png);
    height: 100px;
    width: 200px;
    background-position: center;
    background-size: cover;
  }

  .login-heading {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

}


@media only screen and (max-width: 425px) {

  .login-heading {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .signin-auth-inner {
    width: 350px;
    margin: auto;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 20px 25px 25px 25px;
    border-radius: 15px;
    transition: all .3s;
  }

  .img-logo{
    margin-top: 100px;
    margin-bottom: 20px;
    background-image: url(./logo.png);
    height: 75px;
    width: 150px;
    background-position: center;
    background-size: cover;
  }

}



@media only screen and (max-width: 375px) {

  .signin-auth-inner {
    width: 300px;
    margin: auto;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 20px 25px 25px 25px;
    border-radius: 15px;
    transition: all .3s;
  }

  .img-logo{
    margin-top: 100px;
    margin-bottom: 20px;
    background-image: url(./logo.png);
    height: 100px;
    width: 200px;
    background-position: center;
    background-size: cover;
  }

  .login-heading {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

}